{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block title %}Mes Blogs{% endblock %}

{% block body %}
    <h1>Mes articles de blog</h1>
     {% if app.user is defined and app.user is not null %}
    {% if posts is not null%}
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <h2 class="card-title">Ajouter un post</h2>
                <a href="{{path('admin')}}" class="btn btn-primary">Aller ajouter un article</a>
            </div>
        </div>
    {% endif %}
    {% for post in posts %}

        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <h2 class="card-title">{{ post.content  | raw}}</h2>
                 <img class="card-img-top" src="{{ vich_uploader_asset(post) }}"
                 alt="{{ post.content }}">
                <a href="{{ path('detail_post', {id:post.id}) }}" class="btn btn-primary">Voir l'article</a>
            </div>
        </div>
    {% endfor %}
     {% else %}
        <a href="{{ path('app_login') }}">Connectez-vous pour voir les articles</a>
    {% endif %}
{% endblock %}